<div class="row">

    <div class="col-12 col-xl-4 d-flex">

        <!-- Card -->
        <div class="card h-100 bg-dark rounded-lg">
          <a class="card-body my-auto" href="#!">
            <h3 class="mt-auto font-weight-bold text-white">
              It's the little touches that make memories.
            </h3>
    
            <p class="mb-0 text-muted">
              Once you have your rental posted, you should focus on how you can differentiate your home with little touches. Chocolates, specialty coffee, fast wifi, nice toiletries, or a personal note. Small touches can make a huge difference.
            </p>
          </a>
    
          <!-- Meta -->
          <a class="card-meta" href="#!">
    
            <!-- Divider -->
            <hr class="card-meta-divider">
    
            <!-- Avatar -->
            <div class="avatar avatar-sm mr-2">
              <img src="https://pbs.twimg.com/profile_images/1292159368943693824/JXYCQur0_400x400.jpg" class="avatar-img rounded-circle">
            </div>
    
            <!-- Author -->
            <h6 class="text-uppercase text-muted mr-2 mb-0">
              Bitcoin
            </h6>
    
            <!-- Date -->
            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
              <time datetime="2019-05-02">Today</time>
            </p>
    
          </a>
    
        </div>
    
      </div>

</div>
